* {
    font-family: sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none; 
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#component-div {
    background: #f2f2f2;
}

.top-inputs {
    display: flex;
}

.top-inputs label {
    display: block;
    width: 50px;
    text-align: right;
    margin: 4px;
}

.top-inputs input, select {
    width: 200px;
}

div {
    padding: 4px;
}

table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
}

th { 
    text-align: left;
    background: linear-gradient(white, #ddd);
    padding: 4px;
    font-weight: normal;
}

td { 
    padding: 0;
    background: #f2f2f2;
}

td>input {
    padding: 6px;
    width: 100%;
    border: none;
    background: transparent;
}

td>input:hover {
    background: white;
}

.table-wrapper {
    height: 400px;
    padding: 0;
    overflow: auto;
    border: 1px solid #ddd;
}

.remove-item-button {
    width: 20px;
    height: 20px;
    color: #777;
    border: none;
    background: transparent;
}

.remove-item-button:hover {
    background: #ddd;
}

button {
    width: 90px;
    height: 24px;
    margin: 4px;
}

.datastatus-label
{
    height: 24px;
    padding-top: 10px;
    padding-right: 5px;
}
.button-group{
    display: flex;
    float: right;
}