<div class="button-panel">
    <button title="Run scenario"
        [disabled]="!sourceFix"
        (click)="runScenario()">
        <i class="fa fa-send"></i> Run
    </button>

    <div class="toggle-button"
        [class.enabled]="isEnabled"
        (click)="toggleEnabled()"
        title="Automatically run this scenario for session {{session.session}}">
        <i class="fa"
            [ngClass]="isEnabled ? 'fa-toggle-on' : 'fa-toggle-off'"></i> 
            <span style="margin: 5px;">Auto-run</span>
    </div>
</div>

<div class="editor-area">
    <textarea #codeId
        class="code"
        [(ngModel)]="action.code"
        (blur)="leaveCode(codeId)"></textarea>

    <textarea readonly
        #outputScroll
        (change)="outputChanged($event)"
        class="output">{{output}}
    </textarea>
</div>