:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 6px;
}

.code{
    color: blue;    
    height: 50%; 
    background: #fcfcfc;   
    border: 1px solid gray;
}

.output{
    height: 50%;
    background: #222;
    display: block;
    overflow: auto;
}
span.output{
    margin-left: 4px; 
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px; 
    display: block;
    white-space: pre-wrap;
}

.command-panel{
    padding: 12px 0 6px 0;
}

.editor-area {
    display: flex;
    flex-direction: column;
    flex: 1;
}