:host {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 6px;
}
.button-panel {
    height: 30px;
}

.button-panel>button {
    float: right;
    height: 24px;
    padding: 2px;
    margin: 2px;  
    width: 70px;
}
.button-panel>button:active {
    background: #b0e0e6;
}
.button-panel>button.enabled {
    background: #bfb;
}

.toggle-button {
    display: flex;
    float: left;
}
.toggle-button>i {
    font-size: 24px;
    color: gray;
    float: left;
    cursor: pointer;
}
.toggle-button.enabled>i {
    color: green;
}

textarea {
    border: 1px solid gray;
    padding: 4px;
    resize: none;
    font-family: 'Source Sans Pro', monospace;
}
/* 
.code{
    color: blue;
    width: 100%;
    background: whitesmoke;   
    white-space: nowrap;
} */

.output{
    flex: 1 1 auto;
    background: #222;
    color: whitesmoke;
    word-break: break-all;
    overflow: auto;
}
.output>span{
    margin-left: 4px; 
    font-family: 'Source Sans Pro', monospace;
    font-size: 13px; 
    display: block;
    white-space: pre-wrap;
}

.command-panel{
    padding: 12px 0 6px 0;
}

.editor-area {
    display: flex;
    flex-direction: column;
    flex: 1;
}