<div class="button-panel">
    <button title="Run scenario"
        [disabled]="!sourceFix"
        (click)="runScenario()">
        <i class="fa fa-send"></i> Run
    </button>

    <div class="toggle-button"
        [class.enabled]="isEnabled"
        (click)="toggleEnabled()"
        title="Automatically run this scenario for session {{session?.session}}">
        <i class="fa"
            [ngClass]="isEnabled ? 'fa-toggle-on' : 'fa-toggle-off'"></i>
        <label style="margin: 5px;">Auto-run</label>
    </div>
</div>

<split direction="vertical"
    gutterSize="6">
    <split-area [size]="50"
        style="display:flex">

        <ace-editor #codeEditor
            [(text)]="action.code"></ace-editor>

    </split-area>
    <split-area [size]="50"
        style="display:flex">

        <div style="display:flex; flex-direction: column; flex: 1 1 auto">
            <div class="button-panel">
                <button title="Clear"
                    (click)="clearOutput()">
                    <i class="fa fa-eraser"></i> Clear
                </button>
            </div>

            <code class="output"
                #output
                [scrollTop]="9999999">
                <span *ngFor="let line of outputLines" 
                    [style.color]="line.err ? 'red' : 'lightgray'"
                    >{{line.text}}</span>
                <span> </span>
            </code>
        </div>
    </split-area>
</split>