<html ng-app="AgencyRatingsModule">
    
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.4/angular.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <div ng-controller="RatingsController as vm">
        <div>
            <label>Find:</label>
            <select ng-model="vm.uiSelectedAgency" ng-options="agency.code for agency in vm.agencies" ng-change="vm.changeSelectedAgency()">
            </select>
        </div>

        <div>
            <label>Name:</label>
            <input type="text" ng-model="vm.loadedAgency.description" />
        </div>

        <div>
            <label>Term:</label>
            <select ng-model="vm.loadedAgency.termCode">
                <option value="L">Long</option>
                <option value="S">Short</option>
            </select>
        </div>

        </select>

        <div>
            <label>Code supported by the rating agency</label>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr class="table-headerarea">
                            <th class="column-text-ratingcode"><label>RatingCD</label></th>
                            <th class="column-text-ratingdescription"><label>RatingDesc</label></th>
                            <th class="column-text-ratingvalue"><label>Value</label></th>
                            <th class="column-header-with-scrollbar-space"><!--Delete Button--></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">
                                <div class="ratings-grid-div">
                                    <table>
                                        <tr ng-repeat="rating in vm.ratingsByAgency[vm.loadedAgency.code]" class="rating-table-row">
                                            <td class="column-text-ratingcode"><input type="text" ng-model="rating.RatingCD" ng-change="vm.dataWasEdited()"/></td>
                                            <td class="column-text-ratingdescription"><input type="text" ng-model="rating.RatingDesc" ng-change="vm.dataWasEdited()"/></td>
                                            <td class="column-text-ratingvalue"><input type="text" ng-model="rating.RatingValue" ng-change="vm.dataWasEdited()"/></td>
                                            <td  class="column-text-ratingvalue">
                                                <button ng-click="vm.removeRating(rating)" title="Remove" class="remove-item-button">
                                                <i class="fa fa-times"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="button-group">
            <label><i>{{ vm.DataStatusMessage[vm.dataStatus] }}</i></label>
            <button ng-click="vm.reloadData()">
                <span>Reload</span>
            </button>
            <button ng-click="vm.addNewRatingCode()">
                <span>Add Code</span>
            </button>
            <button ng-click="vm.saveChanges()">
                <span>Save</span>
            </button>
        </div>
    </div>
</body>
</html>