.container {
    overflow: auto;
    height: 100%;
    transition: width .25s ease;
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

button { 
    height: 24px;
    padding: 2px;
    margin: 2px;  
    width: 69px;
    border: 1px gray solid; 
}
button:hover {
    background: #eee;
    cursor: pointer;
}
button:active {
    background: #b0e0e6;
}

 /* left side quick action buttons */
.action {
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

.action>button.selected {
    border-right: 0;
    margin-left: 8px;
    margin-right: -1px;
    background: #eee;
    z-index: 100;
}

.action>.editable-input {
    background: #fff;
}
.action>.editable-input.hidden {
    width: 0;
    height: 0;
    opacity: 0;
}
.action>.editable-input.visible {
    width: 100%;
    height: 30px;
}
.readonly-input {
    background: transparent;
    cursor: pointer;
}

 /*templates*/
.keyvalue-section {
    overflow: auto;
    background: #eee;
    min-width: 324px;
    border: 1px solid gray;
}

.button-panel {
    height: 38px;
}

.button-panel>button {
    float: right;
}

div.key-column {
    width: 100px;
    white-space: nowrap;
    text-align: right;
}
div.row>div.value-column{
    width: 160px;
    display: inline-flex;
    padding: 1px;
}
div.delete-column {
    width: 30px;
}
div.row>div{
    display: inline-block;
}
div.row {
    min-height: 30px;
}

button.repeating-group {
    color: #777;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: transparent;
    border: none;
}

button.repeating-group-add {
    position: absolute;
    right: 20px;    
    margin-top: -3px;
}

input.pair-value {
    border: 1px solid gray;
    padding: 3px;
    margin-right: 2px;
}

.configure-input {
    background: #bfb;
    border: 1px solid gray;
}
button.configure-input:hover {
    background: #bfb;
}
/*select.configure-input {
    outline: none;
    background: transparent;
    border: none;
    direction: rtl;
    width: 100%;
}
select.configure-input:hover {
    background: #bfb;
}*/

input.configure-key {
    border: none;
    background: transparent;
    text-align: right;
    width: 100%;
}

button.expander {
    border: none;
    background: transparent;
}


button.add-action {
    background: transparent;    
    border: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}
button.add-action:hover {   
    background: #ddd;    
}

button.delete-pair {
    background: transparent;    
    border: none;
    border-radius: 50%;
    margin: 0;
    width: 24px;
    margin-left: auto;
    margin-right: auto;
}
button.delete-pair:hover {   
    background: #ddd;    
}

button>input {
    width: 100%;
    border: none;
    text-align:center
}