<div class="container">
    <div class="action-panel">
        <button class="expander"
            title="Show the FIX messages to be sent"
            (click)="toggleExpanded()">
                <i class="fa"
                    style="font-size:20px;"
                    [ngClass]="collapsed ? 'fa-angle-double-left' : 'fa-angle-double-right'"></i>
            </button>

        <button [ngClass]="(!collapsed && selectedAction==action) ? 'selected' : '' "
            [style.border-color]="(action.invalid) ? 'red' : 'gray' "
            [title]="(action.invalid) ? action.invalid : action.label "
            *ngFor="let action of customActions"
            (click)="prepareTemplate(action, true)"
            class="invalid">
            <input 
                maxlength="10"
                (blur)="doneEditingActionLabel($event, action)"
                [readonly]="!action.isEditing"
                [(ngModel)]="action.label"
                [setFocus]="action.isEditing"
                (dblclick)="false && action.isEditing=true"
                [ngClass]="action.isEditing ? 'editable-input' : 'readonly-input' "
            />
        </button>

        <span style="display: inline-flex;">
            <button class="add-action"
                title="Add a new template"
                [hidden]="collapsed"
                (click)="addAction('template')"
                style="color:#777;">
                <i class="fa fa-plus-circle"></i>
            </button>

            <button class="add-action"
                title="Add a new scenario"
                [hidden]="collapsed || hideScenario"
                (click)="addAction('scenario')"
                style="color:#484;">
                <i class="fa fa-plus-circle"></i>
            </button>
        </span>
    </div>
    <div class="outer-editor"
        [style.display]="(!selectedAction || collapsed) ? 'none' : 'flex'">
        <div class="button-panel">
            <button class=""
                (click)="deleteAction()"
                title="Delete this action">
                    <i class="fa fa-trash-o"></i> Delete
                    </button>

            <button class=""
                (click)="copyAction()"
                title="Create a copy of this action">
                    <i class="fa fa-copy"></i> Clone
                    </button>
        </div>

        <div class="inner-editor">
            <field-editor *ngIf="editor=='template'"
                [action]="selectedAction"
                [template]="selectedAction.template"
                [session]="session"
                [sourceFix]="detail?.original">
            </field-editor>


            <scenario *ngIf="editor=='scenario'"
                [name]="selectedAction.label"
                [action]="selectedAction"
                [session]="session"
                [sourceFix]="detail?.original">
            </scenario>
        </div>
    </div>