<div class="container">

    <div *ngFor="let pair of template"
        [class.group-row]="isRepeatingGroup(pair)">

        <div class="first-level">

            <!--<div class="key-column">
        <span>{{pair.key}}</span>
    </div>
    <div class="value-column">
        <input class="pair-value"
            [style.margin-left.px]="pair.level*15"
            [style.width.px]="158-(pair.level*15)"
            [hidden]="pair.isGroup"
            [(ngModel)]="pair.formula" />
        <span [style.margin-left.px]="((pair.level || 0)+1)*15"
            style="font-style:italic; color: #777;"
            [hidden]="!pair.isGroup">group</span>
    </div>-->

            <div class="key-column">
                <input class="configure-key"
                    [placeholder]="(editMode) ? 'key' : ''"
                    (setFocus)="true"
                    [(ngModel)]="pair.key" />
            </div>
            <div class="value-column">
                <input class="configure-input"
                    [class.editing]="editMode"
                    [style.width.px]="158-(level*17)"
                    [hidden]="isRepeatingGroup(pair)"
                    [(ngModel)]="(editMode) ? pair.formula : pair.value" />

                <div class="group-placeholder"
                    [style.margin-left.px]="((level || 0)+1)*15"
                    [hidden]="!isRepeatingGroup(pair)">group</div>
            </div>

            <div class="menu-column">
                <nav>
                    <li><i class="fa fa-ellipsis-h"></i>
                        <nav>
                            <li><a (click)="delete(pair)">Delete</a></li>
                            <li><a (click)="insertGroup(pair)">Insert Group</a></li>
                            <li><a (click)="insert(pair)">Insert Above</a></li>
                        </nav>
                    </li>
                </nav>
            </div>
        </div>
        <div *ngIf="isRepeatingGroup(pair)">
            <field-editor 
                [template]="pair.formula"
                [editMode]="editMode"
                [level]="level+1"></field-editor>
        </div>
    </div>
</div>