:host {
    flex: 1 1 auto;
}
.first-level {
    display: flex;
}

.button-panel {
    height: 30px;
}

.button-panel>button {
    float: right;
    height: 24px;
    padding: 2px;
    margin: 2px;  
    width: 70px;
}
.button-panel>button:active {
    background: #b0e0e6;
}

div.key-column {
    width: 40%;
    white-space: nowrap;
    text-align: right;
    padding: 4px;
}
div.value-column{
    width: 50%;
    display: flex;
}
div.row>div{
    display: inline-block;
}

.group-placeholder {
    font-style:italic; 
    color: #777;
    margin-top: 4px;
    flex: 1 1 auto;
}

.group-placeholder>button {
    float: right;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #888;
}

.group-row {
    background: rgba(187, 204, 221, 0.25);
    /* border-left: 4px solid cadetblue; */
}

.configure-input {
    border: 1px solid gray;
    padding: 3px;
    margin: 1px;
    float: right;
    flex: 1 1 auto;
    min-width: 50px;
}
.editing{
    background: #bfb;
}

input.configure-key {
    border: none;
    background: transparent;
    text-align: right;
    width: 100%;
}

/* ==================  popup menu ======================== */

nav {
    display: block;
    list-style-type: none;
}

nav li a {
    display: flex;
    justify-content: flex-start;
    color: black;
    text-decoration: none;
    padding: 6px 10px;
    line-height: 14px;
    background-color: white;
    transition: background-color 0.2s linear;
    cursor: pointer;
}

nav li a:hover {
    background-color: #b0e0e6;
    transition: none;
}

nav nav {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 0.25s linear;
    height: 0;
    margin-left: -130px;
}

nav nav li {
    float: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

}

nav nav li:first-child {
    border-top: 1px solid gray;
}
nav nav li:last-child {
    border-bottom: 1px solid gray;
}

nav button:hover:focus nav {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}

nav button {
    border:none;
    background: transparent;
}
nav button:hover {
    background: #ccc;
}