<div class="container">

    <div class="button-panel"
        [hidden]="level > 0">
        <button class=""
            (click)="send()"
            [disabled]="editMode"
            title="Send message back to the client">
            <i class="fa fa-send-o"></i> Send
        </button>

        <button class=""
            (click)="edit()"
            [class.configure-input]="editMode"
            title="Edit the keys and default values for each field">
            <i class="fa fa-pencil"></i> Edit
        </button>
    </div>

    <div *ngFor="let pair of template"
        [class.group-row]="isRepeatingGroup(pair)">

        <div class="first-level">
            <div class="key-column">
                <input class="configure-key"
                    [placeholder]="(editMode) ? 'key' : ''"
                    (setFocus)="true"
                    [(ngModel)]="pair.key" />
            </div>
            <div class="value-column">
                <div [style.width.px]="isRepeatingGroup(pair) ? ((level+1)*15) : (level*15)"></div>
                <input class="configure-input"
                    [class.editing]="editMode"
                    [hidden]="editMode || isRepeatingGroup(pair)"
                    [(ngModel)]="pair.value" />

                <input class="configure-input"
                    [class.editing]="editMode"
                    [hidden]="!editMode || isRepeatingGroup(pair)"
                    (blur)="leaveValue(pair)"
                    [(ngModel)]="pair.formula" />

                <div class="group-placeholder"
                    [hidden]="!isRepeatingGroup(pair)">group</div>
            </div>

            <div class="menu-column"
                [hidden]="!editMode"
                [style.width]="(editMode) ? '24px' : '0'">
                <nav>
                    <button><i class="fa fa-ellipsis-h"></i>
                        <nav>
                            <li><a (click)="delete(pair)">Delete</a></li>
                            <li><a (click)="insertGroup(pair)">Insert Above (Group)</a></li>
                            <li><a (click)="insertAbove(pair)">Insert Above</a></li>
                            <li><a (click)="insertBelow(pair)">Insert Below</a></li>
                        </nav>
                    </button>
                </nav>
            </div>
        </div>
        <div *ngIf="isRepeatingGroup(pair)">
            <field-editor [template]="pair.formula"
                [editMode]="editMode"
                [level]="level+1"
                [sourceFix]="sourceFix">
            </field-editor>
        </div>
    </div>
</div>