<div class="outer-div"
    (window:resize)="onResize()">
    <div class="all-content">
        <!--<session-config 
            [session]="selectedSession"
            (onSave)="saveSessionConfig($event)"></session-config>-->

        <div *ngIf="showGrid" class="grid-pane">
            <div class="filter" >
                    <input class="filter" 
                         [(ngModel)]="filterValue"
                         (ngModelChange)="updateFilter($event)"
                        placeholder="Filter CliOrdId"
                        [class.active-filter]="filterValue"
                        />
            </div>
            <ag-grid-angular #agGrid 
                        style="height: 100%; width: 100%;"
                        class="ag-theme"
                        [gridOptions]="gridOptions"                     
                        [rowData]="rowData"
                        enableColResize
                        enableSorting
                        enableFilter
                        rowSelection="multiple"
                        (cellClicked)="onCellClicked($event)"
                        (rowDoubleClicked)="toggleDetails()"
            >
            </ag-grid-angular>
        </div>
            
            <!--[collapsed]="showDetails"-->
        <detail-pane class="detail-pane"
            [hidden]="this.detailCollapsed"
            [detail]="selectedMessage"
            [session]="selectedSession"
        ></detail-pane>
        

    </div>
</div>