table {
    border-collapse: collapse;
}

td {
  font-size: 12px;

}

div.filter {
    height: 30px;
}
input.filter {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid gray;
    float: right;
}
input.active-filter {
    background: #84B082;
}

.outer-div {
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    padding: 6px;
}

.all-content{
    height: 100%;
    display: flex;
}

.grid-pane {
    flex: 1 1 auto;
    width: 200px;
    min-width: 200px;
}

.detail-pane {
    min-width: 200px;
    overflow: auto;
    /*border: 1px solid gray;*/
}