.frame {
    /*flex: 1 1 auto;*/
    overflow: auto;
    font-size: 12px;
    height: 100%;
    width: 75%;
    float: left;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

td {
  font-size: 12px;

}

.json-format {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 10px;
  width: 200px;
}
.inline {
    display: inline-block;
    
}

.row:hover {
    background: lightblue;
}

.outer-div {
    overflow: auto;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
}

.main-content{
    height: 100%;
    flex: 1 1 auto;
}
.detail-pane {
    float: left;
}